/* General Rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    /* DEBUG */
    background-color: brown;
}

/* Header Rules */

#flex-nav{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color:white;
    width: 100%;
    /* DEBUG */
    /* height: 50px; */
}

/* Drop Box Logo */
.dropbox-logo{
    width: 10%;
    margin: 5px 0 0 20px;
    line-height: 50px;
    /* DEBUG */
    /* background-color: yellow; */

}
/* List Left Rules */

.list-left{
    width: 40%;
    /* DEBUG */
    /* background-color: red; */
    
}

.flex-list-left{
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
    line-height: 50px;
}

.flex-list-left li{
    list-style-type: none;
    padding: 0 20px;
}

li .grey{
    text-decoration: none;
    color: grey;
}

/* List Right Rules */

.list-right{
    /* DEBUG */
    /* background-color: blue; */
    width: 45%;
}

.flex-list-right{
    display: flex;
    justify-content: flex-end;
    align-self: center;
    font-size: 10px;
    line-height: 50px; 
    /* DEBUG */
    /* background-color: blue; */
}

.flex-list-right li{
    list-style-type: none;
    padding: 0 20px;
}

/* Buttons */

#inizia{
    width: 5%;
    /* DEBUG  */
    /* background-color: yellow; */
}

.button-inizia{
    text-decoration: none;
    margin-left: 15px;
    font-size: 12px;
    color: white;
    padding: 5px;
    background-color: blue;
    line-height: 50px;
} 

#prova-gratuita{
    width: 70%;
    margin: 30px 0 0 50px;
    /* DEBUG */
    /* background-color: red; */
}

.button-prova{
    font-size: 13px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    background-color: blue;
}

.arrow-down{
    margin: 50px 0 0 40px;
    text-align: center;
    width: 20%;
    font-size: 50px;
    /* DEBUG */
    /* background-color: white; */
}

.arrow-down a{
    color: black;
}

#prova-gratis{
    width: 80%;
    margin: 30px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    background-color: blue;
} 

.button-gratis{
    font-size: 13px;
    text-decoration: none;
    color: white;
}


/* Main Rules */

/* First Section */

#first-section{
    width: 100%;
    margin: 50 auto 0 auto;
    /* DEBUG */
    background-color: #b4c8e1;
    
}

.main-title{
    position: relative;
    width: 65%;
    margin: 50px auto 0 auto;
    padding:100px 0 0 45px;
    /* DEBUG */
    /* background-color: yellow; */
}

.title-one{
    font-size: 55px;
}

.flex-squareone{
    display: flex;
    margin: 0 10%;
    width: 80%;
    /* DEBUG */
    /* background-color: red; */
    /* height: 500px; */
}

.paragraphone{
    margin-left: 85px;
    padding-left: 20px;
    width: 30%;
    /* DEBUG */
    /* background-color: green; */
}

.paragraphone .one{
    font-size: 15px;
    margin-top: 50px;
    padding-left: 50px;
}

.annulla{
    margin-top: 50px;
}

.imageone{
    position:absolute;
    margin: 50px 0 0 410px;
    width: 55%;
    /* DEBUG */
    /* background-color: orange; */
}

.imageone img{
    width: 100%;
}

/* Second Section */

#second-section{
    width: 100%;
    padding-left: 20px;
    background-color: white;

    /* DEBUG */
}

.title-two{
    width: 60%;
    margin: 0px auto;
    padding-top:125px;
    font-size: 25px;

    /* DEBUG */
    /* background-color: yellow; */
}

.radio{
    width: 60%;
    margin: 50px auto;


    /* DEBUG */
    /* background-color: orange; */
}

#flex-container-columns{
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin: 0  auto;
    
    /* DEBUG */
    /* height: 500px; */
    /* background-color:yellow; */
}

/* Colomns Up */

.colomn{
    width: calc(100% / 3);
    margin: 0 30px; 
    border: 1px black solid;
    padding-bottom: 50px;
    
    /* DEBUG */
    /* background-color:green; */
}

.user{
    border-bottom: 1px solid black;
    padding-left: 80px;
}

a{
    color: black;
}

.main-user{
    text-decoration: none;
}

h3{
    padding: 30px 0 0 30px;
}

h4{
    padding: 20px 0 0 30px;
}

h5{
    padding: 20px 0 0 30px;
}

.userone{
    display: flex;
    font-size: 15px;
    padding-left: 20px;
    margin-top: 20px;
}

.conteone{
    width: 90%;
    font-size: 13px;
    padding-left: 10px;
    /* DEBUG */
    /* background-color: green; */
}

.folder{
    display: flex;
    font-size: 15px;
    padding-left: 20px;
    margin-top: 20px;
}

.contetwo{
    width: 90%;
    font-size: 13px;
    padding-left: 10px;
    /* DEBUG */
    /* background-color: red; */
}

.share{
    display: flex;
    font-size: 15px;
    padding-left: 20px;
    margin-top: 20px;
}

.contethree{
    width: 90%;
    font-size: 13px;
    padding-left: 10px;
    /* DEBUG */
    /* background-color: green; */
}

.oppure{
    padding:0 0 50px 30px;
}

/* Colomns Bottom */

.line-bottom{
    width: 20%;
    border-top: 1px solid black;
    margin-left: 30px;
}

#checkone{
    display: flex;
    font-size: 15px;
    padding-left: 20px;
    margin-top: 20px;
}

.contentfour{
    width: 90%;
    font-size: 13px;
    padding-left: 20px;
    /* DEBUG */
    /* background-color: green; */
}

/* Column Below */

.colomn-below{
    width: 61%;
    margin: 40px auto; 
    border: 1px black solid;
    padding-bottom: 50px;
    
    /* DEBUG */
    /* background-color:green; */
}

.user-below{
    text-align: center;
    border-bottom: 1px black solid;

}

.team{
    text-decoration: none;
}

.contentfive{
    width: 70%;
    font-size: 13px;
    padding:30px 0 0 30px;
    /* DEBUG */
    /* background-color: green; */
}

.left-below{
    width: 80%;
    /* DEBUG */
    /* background-color: red; */
}

.below{
    display: flex;
    padding: 30px 0 0 30px;
    width: 100%;
}

.enterprise{
    width: 70%;
    font-size: 20px;
    /* DEBUG */
    /* background-color: red; */
}

.button-vendite{
    width: 25%;
    padding: 5px;
    color: white;
    text-align: center;
    background-color: blue;
}






