/* General Rules */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* Header Rules */

#flex-nav{
    display: flex;
    align-items: center;
    align-self: center;
    position: fixed;
    padding: 10px 0 10px 0;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color:white;
    width: 100%;
}

/* Drop Box Logo */

.dropbox-logo{
    width: 10%;
    margin: 5px 0 0 20px;
    /* DEBUG */
    /* background-color: yellow; */

}
/* List Left Rules */

.list-left{
    width: 40%;
    /* DEBUG */
    /* background-color: red; */   
}

.flex-list-left{
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
}

.flex-list-left .grey{
    list-style-type: none;
    padding: 0 20px;
}

a{
    text-decoration: none;
}

/* List Right Rules */

.list-right{
    /* DEBUG */
    /* background-color: blue; */
    width: 45%;
}

.flex-list-right{
    display: flex;
    justify-content: flex-end;
    font-size: 10px;
    padding: 0 20px;
    /* DEBUG */
    /* background-color: blue; */
}

.flex-list-right li{
    padding: 0 20px;
}

/* Buttons */

#inizia{
    width: 5%;
    /* DEBUG  */
    /* background-color: yellow; */
}

.button-inizia{
    margin-left: 5px;
    font-size: 12px;
    padding: 5px 10px;
    color: white;
    background-color: blue;
} 

#prova-gratuita{
    width: 70%;
    margin: 30px 0 0 50px;
    /* DEBUG */
    /* background-color: red; */
}

.button-prova{
    font-size: 13px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    background-color: blue;
}

.arrow-down{
    margin: 50px 0 0 40px;
    text-align: center;
    width: 20%;
    font-size: 50px;
    /* DEBUG */
    /* background-color: white; */
}

.arrow-down a{
    color: black;
}

#prova-gratis{
    width: 80%;
    margin: 30px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    background-color: blue;
} 

.button-gratis{
    font-size: 13px;
    text-decoration: none;
    color: white;
}

/* Main Rules */

/* First Section */

#first-section{
    width: 100%;
    margin: 50 auto 0 auto;
    /* DEBUG */
    background-color: #b4c8e1;
    
}

.main-title{
    position: relative;
    width: 65%;
    margin: 50px auto 0 auto;
    padding:100px 0 0 45px;
    /* DEBUG */
    /* background-color: yellow; */
}

.title-one{
    font-size: 55px;
}

.flex-squareone{
    display: flex;
    margin: 0 10%;
    width: 80%;
    /* DEBUG */
    /* background-color: red; */
    /* height: 500px; */
}

.paragraphone{
    margin-left: 85px;
    padding-left: 20px;
    width: 30%;
    /* DEBUG */
    /* background-color: green; */
}

.paragraphone .one{
    font-size: 15px;
    margin-top: 50px;
    padding-left: 50px;
}

.annulla{
    margin-top: 50px;
}

.imageone{
    position:absolute;
    margin: 50px 0 0 410px;
    width: 55%;
    /* DEBUG */
    /* background-color: orange; */
}

.imageone img{
    width: 100%;
}

/* Second Section */

#second-section{
    width: 100%;
    padding-left: 20px;
    background-color: white;
}

.title-two{
    width: 60%;
    margin: 0px auto;
    padding-top:125px;
    font-size: 25px;

    /* DEBUG */
    /* background-color: yellow; */
}

.radio{
    width: 60%;
    margin: 50px auto;
    
    /* DEBUG */
    /* background-color: orange; */
}

#flex-container-columns{
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin: 0  auto;
    
    /* DEBUG */
    /* height: 500px; */
    /* background-color:yellow; */
}

/* Colomns Up */

.colomn{
    width: calc(100% / 3);
    margin: 0 30px; 
    border: 1px black solid;
    padding-bottom: 50px;
    
    /* DEBUG */
    /* background-color:green; */
}

.user{
    border-bottom: 1px solid black;
    padding-left: 80px;
}

a{
    color: black;
}

.main-user{
    text-decoration: none;
}

h3{
    padding: 30px 0 0 30px;
}

h4{
    padding: 20px 0 0 30px;
}

h5{
    padding: 20px 0 0 30px;
}

.userone{
    display: flex;
    font-size: 15px;
    padding-left: 20px;
    margin-top: 20px;
}

.conteone{
    width: 90%;
    font-size: 13px;
    padding-left: 10px;
    /* DEBUG */
    /* background-color: green; */
}

.folder{
    display: flex;
    font-size: 15px;
    padding-left: 20px;
    margin-top: 20px;
}

.contetwo{
    width: 90%;
    font-size: 13px;
    padding-left: 10px;
    /* DEBUG */
    /* background-color: red; */
}

.share{
    display: flex;
    font-size: 15px;
    padding-left: 20px;
    margin-top: 20px;
}

.contethree{
    width: 90%;
    font-size: 13px;
    padding-left: 10px;
    /* DEBUG */
    /* background-color: green; */
}

.oppure{
    padding:0 0 50px 30px;
}

/* Colomns Bottom */

.line-bottom{
    width: 20%;
    border-top: 1px solid black;
    margin-left: 30px;
}

#checkone{
    display: flex;
    font-size: 15px;
    padding-left: 20px;
    margin-top: 20px;
}

.contentfour{
    width: 90%;
    font-size: 13px;
    padding-left: 20px;
    /* DEBUG */
    /* background-color: green; */
}

/* Column Below */

.colomn-below{
    width: 61%;
    margin: 40px auto; 
    border: 1px black solid;
    padding-bottom: 50px;
    
    /* DEBUG */
    /* background-color:green; */
}

.user-below{
    text-align: center;
    border-bottom: 1px black solid;
}

.team{
    text-decoration: none;
}

.contentfive{
    width: 70%;
    font-size: 13px;
    padding:30px 0 0 30px;
    /* DEBUG */
    /* background-color: green; */
}

.left-below{
    width: 80%;
    /* DEBUG */
    /* background-color: red; */
}

.below{
    display: flex;
    padding: 30px 0 0 30px;
    width: 100%;
}

.enterprise{
    width: 70%;
    font-size: 20px;
    /* DEBUG */
    /* background-color: red; */
}

.button-vendite{
    width: 25%;
    padding: 5px;
    color: white;
    text-align: center;
    background-color: blue;
}

/* Third Section */

#flex-third-section{
    display: flex;
    width: 65%;
    margin-left: 21%;
    /* DEBUG */
    /* background-color: red; */
}

.square-image{
    width: 60%;
    /* DEBUG */
    /* background-color: yellow; */
}

.imagetwo{
    width: 100%;
}

.square-title{
    display: flex;
    flex-direction: column;
    width: 40%;
    /* DEBUG */
    /* background-color: green; */
}

.third-title{
    width: 90%;
    padding-top: 40px;
    /* DEBUG */
    /* background-color: red; */
}

.contentsix{
    width: 85%;
    padding: 40px 30px;
    /* DEBUG */
    /* background-color: purple; */
}

.button-partner{
    padding: 20px;
    margin: 10px 0 0 30px;
    width: 45%;
    /* background-color: white; */
    color: grey;
    border: 1px grey solid;
}

/* Fourth Section */

#fourth-section{
    width: 100%;

    /* DEBUG */
    /* background-color: blueviolet; */
}

.fourth-title{
    width: 70%;
    margin: 150px auto 50px auto;
    padding-left:80px;
    font-size: 35px;

    /* DEBUG */
    /* background-color: yellow; */
}

.flex-square-two{
    display: flex;
    width: 62%;
    margin:  0 auto 0 290px;

    /* DEBUG */
    /* background-color: orange; */
}

.new-column-one{
    width: calc(100% / 3);
    margin: 0 15px;

    /* DEBUG */
    /* background-color: red; */
}

.square-image-two{
    width: 100%;
    height: 200px;
    /* DEBUG */
    /* background-color:yellow; */
}

.image-three{
    width: 100%;
}

#title-new-column{
    margin-top: 25px;
    font-size: 20px;
    /* DEBUG */
    /* background-color: aqua; */
}

.contentseven{
    margin-top: 25px;
    /* DEBUG */
    /* background-color: green; */
}

.square-image-three{
    margin-top: 50px;
    width: 100%;
    /* DEBUG */
    /* background-color:yellow; */
    height: 200px;
} 

.new-column-two{
    width: calc(100% / 3);
    margin: 0 15px;

    /* DEBUG */
    /* background-color: yellow; */
    height: 500px;
}

.new-column-three{
    width: calc(100% / 3);
    margin: 0 15px;

    /* DEBUG */
    /* background-color: green; */
    height: 500px;
}

/* Fifth Section */

#fifth-section{
    margin:100px auto 0 300px;
    width: 50%;
    font-size: 20px;

    /* DEBUG */
    /* background-color: blueviolet; */
}

.scopri-di-piu{
    margin-top: 50px;
    font-size: 15px;
    /* DEBUG */
    /* background-color: yellow; */
}

#scopri-di-piu-blu{
    color: blue;
}

/* Multi Squares */

#flex-multi-square{
    display: flex;
    margin-top:150px;
    width: 100%;
    /* DEBUG */
    /* background-color: blueviolet; */
    height: 500px;
}

.flex-square-multi-left{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    /* Debug */
    height: 500px;
}

/* Left Square */

.squareone{
    width: 50%;
    background-color:#a2d39b;
    border: 20px #d1e9cd solid ;
    /* Debug */
    height: 250px;

}

#designit{
    width: 80%;
    padding:90px 0 0 50px;
    filter: invert(100%);

}

.squaretwo{
    width: 50%;
    /* Debug */
    background-color: #862b45;
    height: 250px;
}

#asu{
    width: 80%;
    padding:80px 0 0 50px;
    filter: invert(100%);
}

.squarethree{
    width: 50%;
    /* Debug */
    background-color: lightblue;
    height: 250px;
}

#uof{
    width: 80%;
    padding:120px 0 0 40px;
    filter: invert(100%);
}

.squarefour{
    width: 50%;
    /* Debug */
    background-color: red;
    height: 250px;
}

#topps{
    width: 80%;
    padding:90px 0 0 40px;
    filter: invert(100%);
}

/* Square Middle */

.square-multi-middle{
    width: calc(100% / 3);
    /* Debug */
    background-color: lightgrey;
    height: 500px;
}

#designit-black{
    width: 50%;
    padding:50px 0 0 30px;
}

hr{
    margin: 50px 0 0 30px;
    width: 20%;
}

.contenteight{
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
    padding-top: 50px;
    /* DEBUG */
    /* background-color: yellow; */
}

.author{
    width: 90%;
    margin: 0 auto;
    font-size: 15px;
    padding-top: 50px;
    /* * DEBUG * */
    /* background-color: orange; */
}

/* Square Right */

.flex-square-multi-right{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% / 3);
    /* Debug */
    background-color: green;
    height: 500px;
}

.squarefive{
    width: 50%;
    /* Debug */
    background-color: #ff1616de;
    height: 250px;
}

#wbf{
    width: 80%;
    padding:100px 0 0 40px;
    filter: invert(100%);
}

.squaresix{
    width: 50%;
    /* Debug */
    background-color: #24b1bf;
    height: 250px;
}

#hearst{
    width: 80%;
    padding:120px 0 0 50px;
    filter: invert(100%);
}

.squareseven{
    width: 50%;
    /* Debug */
    background-color:#0000bd;
    height: 250px;
}

#lplanet{
    width: 80%;
    padding:100px 0 0 50px;
    filter: invert(100%);
}

.squareeight{
    width: 50%;
    /* Debug */
    background-color: #fff00c;
    height: 250px;
}

#cchannel{
    width: 80%;
    padding:100px 0 0 50px;
    filter: invert(100%);
}

/* Seventh Section */

.flex-square-dropbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Debug */
    background-color: #b4c8e1;
    /* height: 300px; */
}

.fifth-main-title{
    padding: 150px 0 150px 0;
    font-size: 20px;
    width: 30%;
    /* Debug */
    /* background-color: red; */
    /* height: 100px; */
}

.button-prova-gratuita{
    width: 20%;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: blue;
}

/* Eight Section */

#eight-section{
    width: 100%;
    margin: 0 auto;
    /* Debug */
    background-color: white;
}

.sixth-title{
    font-size: 30px;
    width: 50%;
    margin: 150px auto 50px auto;
    /* Debug */
    /* background-color: red; */
}

.flex-square-question{
    display: flex;
    width: 50%;
    margin: 20px auto 0 auto;
    line-height: 100px;
    /* DEBUG */
    /* background-color: orange; */
}

.question{
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.arrow-question{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.flex-square-question-two{
    display: flex;
    margin: 0 auto;
    width: 50%;
    line-height: 100px;
    /* DEBUG */
    /* background-color: orange; */
}

.question-two{
    width: 100%;
    border-bottom: 1px solid black;
}

.arrow-question-two{
    border-bottom: 1px solid black;
}

/* Footer Rules */

footer{
    margin-top: 150px;
    width: 100%;

    /* DEBUG */
    background-color: black;
    height: 500px;
}

#flex-square-footer{
    display: flex;
    width: 70%;
    margin: 0 auto;

    /* DEBUG */
    /* background-color: orange; */
    /* height: 500px; */
}

.column-special{
    width: 20%;
    margin: 0 auto;

    /* DEBUG */
    /* background-color:green; */
    height: 500px;
}

.title-list{
    color: white;
}

.column-special2{
    width: 20%;
    margin: 0 auto;

    /* DEBUG */
    background-color:yellow;
    height: 500px;
}

.footer-list{
    margin: 20px 0 0 20px;
    list-style-type: none;
}

li{
    color: white;
    padding: 20px 0 0 10px;
}

.footer-line{
    color: white;
    margin: 100px 0 0 10px;
    width: 50%;
}

.earth{
    padding-right: 20px;
}

.language{
    margin-right: 15px;
}








